@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto sans jp';
  line-height: 1.7;
  color: #333333;
  font-size: 1.6rem;
  font-weight: bold;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-title {
  font-size: 3.2rem;
}

.contact-btn {
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  padding: 12px 35px;
  border-radius: 10px;
  ackground-image: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background-image: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background-image: linear-gradient(to right, #FA41CC 0%, #6020B0 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 3, 6, 0.1);
}

.contact-btn:hover {
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 84px;
}

.header {
  padding: 19px 30px;
  position: fixed;
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  -webkit-transition: .3s;
  transition: .3s;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title {
  font-size: 2.4rem;
  font-weight: bold;
}

.site-title a {
  text-decoration: none;
  color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title div {
  margin-left: 16px;
}

.header-logo img {
  width: 47px;
  height: 47px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  margin-right: 46px;
}

.nav-item a {
  text-decoration: none;
  color: #333333;
  font-size: 1.6rem;
}

.nav-item:last-of-type {
  margin-right: 0;
}

.burger-btn {
  display: none;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
}

.bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #111111;
}

.bar_top {
  top: 10px;
}

.bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 10px;
}

.top-visual {
  background-image: url(./img/daenkei.png);
  background-position: top -110px right -110px;
  background-position-x: right -110px;
  background-position-y: top -110px;
  background-repeat: no-repeat;
}

.top-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 262px;
  padding-bottom: 113px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-img-radious {
  display: block;
  position: absolute;
  top: 0%;
  right: -25%;
  z-index: -10;
}

.catch-copy-wrapper {
  max-width: 351px;
}

.catch-copy-title {
  font-size: 3.2rem;
  line-height: 1.8;
  padding-bottom: 38px;
}

.catch-copy-text {
  padding-bottom: 50px;
  max-width: 255px;
  line-height: 1.8;
}

.top-img {
  width: 518px;
  height: 430px;
}

.section-title {
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 19px;
}

.en-copy {
  text-align: center;
  color: #3BA6C9;
  padding-bottom: 65px;
}

.features {
  padding-bottom: 140px;
}

.features-title {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 54px;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

.features-wrapper img {
  width: 380px;
}

.features-subtitle {
  max-width: 510px;
  font-size: 2.4rem;
  line-height: 2.0;
  padding-bottom: 54px;
}

.features-text {
  line-height: 1.7;
  max-width: 450px;
}

.row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.row_reverse img {
  width: 479px;
}

.blue-wrapper {
  background-color: #EEFBFB;
  padding-top: 65px;
}

table {
  max-width: 90%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-collapse: collapse;
  -webkit-box-shadow: 0 5px 10px rgba(0, 3, 6, 0.1);
          box-shadow: 0 5px 10px rgba(0, 3, 6, 0.1);
}

.price-table td {
  padding: 40px 35px 35px 19px;
  border: solid 1px #E5E5E5;
}

table td:nth-child(2) {
  width: 635px;
}

.price-text {
  text-align: center;
  padding: 41px 0 65px 0;
}

/* アコーディオンメニュー全体のサイズ・位置 */
.ac {
  width: 100%;
  max-width: 907px;
  margin: 0 auto;
  font-size: 1.4rem;
}

.ac-parent {
  position: relative;
  /* 追加 */
  border: 1px solid #E5E5E5;
  background-color: #FFFFFF;
  color: #333333;
  text-align: center;
  cursor: pointer;
  padding: 20px 0 20px 0;
}

.ac-child {
  padding: 2em 1em;
  background-color: #F2F2F2;
  text-align: left;
  border: 1px solid #E5E5E5;
}

/* ①プラスの横線 */
.ac-parent:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 24px;
  height: 2px;
  background: #333333;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ②プラスの縦線 */
.ac-parent:after {
  content: "";
  position: absolute;
  top: 50%;
  /* 8px+12px-1px(幅2pxの半分) */
  right: 19px;
  width: 2px;
  height: 24px;
  background: #333333;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}

/* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
.ac-parent.open:after {
  top: 25%;
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.blog-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-wrapper-item {
  width: 389px;
  background-color: #FFFFFF;
  max-height: 410px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 3, 6, 0.1);
          box-shadow: 0 5px 10px rgba(0, 3, 6, 0.1);
  margin-right: 10px;
}

.blog-text {
  padding: 18px;
}

.blog-topic {
  height: 100px;
  font-size: 1.8rem;
  line-height: 1.4;
}

.blog-date {
  text-align: right;
}

.works-section {
  padding-top: 64px;
  padding-bottom: 84px;
}

.swiper-container {
  z-index: -10;
}

.swiper-slide {
  margin: 0 auto;
  width: 322px;
  height: 407px;
  background-color: #FFFFFF;
  line-height: 1.3;
  border: solid 1px  #DDDDDD;
  border-radius: 10px;
}

.works-img {
  width: 322px;
}

.work-topic {
  margin: 0 15px;
}

.work-text {
  height: 45px;
  margin-top: 23px;
  display: inline-block;
}

.work-date {
  margin-top: 32px;
  font-size: 1.4rem;
  line-height: 1.6;
}

.contact-wrapper {
  background-image: -webkit-linear-gradient(left, #05A5FA 0%, #63FBD7 100%);
  padding-top: 65px;
  padding-bottom: 57px;
  color: #FFFFFF;
}

.contact-title {
  font-size: 3.2rem;
  text-align: center;
  padding-bottom: 19px;
}

.contact-copy {
  text-align: center;
  padding-bottom: 65px;
}

.contact-text {
  text-align: center;
  padding: 0 0 44px 0;
}

.form-wrapper {
  max-width: 908px;
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #333333;
  padding: 18px 62px;
}

.form-group label {
  display: block;
}

.input-text {
  width: 400px;
  height: 43px;
  background-color: #EEFBFB;
  margin: 36px 0 26px 0;
}

textarea {
  display: block;
  width: 100%;
  background-color: #EEFBFB;
  resize: none;
  margin: 36px 0 26px 0;
}

.required {
  display: inline-block;
  background-color: #0C449B;
  color: #FFFFFF;
  font-size: 1.4rem;
  padding: 8px 16px;
  margin-left: 23px;
  border-radius: 1.0rem;
}

.checkbox-group {
  text-align: center;
  margin-bottom: 33px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  border-radius: 0rem;
  vertical-align: middle;
}

.checkbox-parts {
  vertical-align: -0.2rem;
  margin-left: 10px;
}

.form-btn {
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  display: block;
  padding: 11px 50px;
  margin-bottom: 48px;
  border-radius: 1.0rem;
  ackground-image: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background-image: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background-image: linear-gradient(to right, #FA41CC 0%, #6020B0 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 3, 6, 0.1);
}

.end-message {
  display: none;
  text-align: center;
}

.false-message {
  display: none;
  text-align: center;
}

.footer {
  text-align: center;
}

.footer h1 {
  padding: 50px 0 30px 0;
}

.footer-attend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-attend p {
  padding-right: 30px;
}

.footer-attend p:last-of-type {
  padding-right: 0px;
}

.copyright {
  font-size: 1.4rem;
  font-weight: normal;
  padding: 59px 0 50px 0;
}

@media (max-width: 1024px) {
  .top-visual {
    padding-left: 50px;
  }
  .section-wrapper {
    max-width: 960px;
  }
  .features {
    padding-left: 50px;
  }
  .br-tb {
    display: none;
  }
  .blog-wrapper {
    max-width: 960px;
  }
  .blog-wrapper-item {
    max-width: 300px;
  }
  .blog-topic {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
    max-width: 100%;
  }
  .header-inner {
    max-width: 100%;
  }
  .header-logo img {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-btn {
    display: none;
  }
  .burger-btn {
    display: block;
  }
  .burger-btn.close .bar_top {
    -webkit-transform: translate(-50%, 10px) rotate(45deg);
            transform: translate(-50%, 10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .burger-btn.close .bar_mid {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    -webkit-transform: translate(-50%, -8px) rotate(-45deg);
            transform: translate(-50%, -8px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .nav-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .header-nav {
    width: 100%;
    height: 50%;
    z-index: 2;
    background-color: white;
  }
  .nav-list {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header-nav.nav-item {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .nav-item {
    margin-bottom: 30px;
    opacity: 1;
  }
  body.noscroll {
    overflow: hidden;
  }
  .top-visual {
    padding: 0;
  }
  .top-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 0 0 0;
  }
  .catch-copy-title {
    font-size: 2.8rem;
  }
  .catch-copy-wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .catch-copy-text {
    margin: 0 auto;
  }
  .top-img {
    width: 300px;
    height: 300px;
    margin: 30px auto;
  }
  .features {
    padding: 0 10px 0 10px;
  }
  .features-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px 50px 10px;
  }
  .features-wrapper img {
    max-width: 300px;
    padding-bottom: 50px;
  }
  .features-subtitle {
    font-size: 2.0rem;
    text-align: center;
  }
  .features-text {
    text-align: center;
  }
  .ac {
    font-size: 1.2rem;
    width: 90%;
  }
  .price-table td {
    padding: 40px 10px 35px 10px;
    border: solid 1px #E5E5E5;
  }
  .blog-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-wrapper-item {
    margin: 0 auto 20px;
  }
  .form-wrapper {
    padding: 18px 10px;
    margin: 0 20px;
  }
  .input-text {
    width: 90%;
  }
  .footer-attend {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-attend p {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .sp-br {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
